@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Creepster&family=Lilita+One&display=swap');


.container{
   margin-top: 60px;
   width: 100%;
   display: flex;
   justify-content:center;
   background-color: #171616ea;
   width: 650px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 8px;
}

.containerDetail{
    color: rgb(220, 249, 222);
    font-family: 'Amatic SC', cursive;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    font-size: larger;
    width: 300px;
    
   
}
.containerDetail > h1 {
    
    margin-bottom: 50px;
}



.containerImg > h1{
    color: #171616ea;
    background-color:  #00ff1abf;
    padding-left: 5px;
    padding-right: 20px;
    position:absolute;
    margin-top: 358px;
    border-top-right-radius: 25px;
    font-family: 'Creepster', cursive;
   
}

.containerImg > img {
    width:  400px;
    border-radius: 8px;
    -webkit-box-shadow: -125px 0px 134px -64px rgba(0,255,26,1);
-moz-box-shadow: -125px 0px 134px -64px rgba(0,255,26,1);
box-shadow: -125px 0px 134px -64px rgba(0,255,26,1);
}



